html
	head
		meta(http-equiv="content-type" content="text/html; charset=utf-8")
		block title
			title= title
		link(rel='stylesheet' rev='stylesheet' href='../css/styles.css')
		link(rel='alternate' type='application/atom+xml' href='/feeds/recent.atom')
		block banner
			// banner
	body
		div#nav.navoverride
			block navigation
				include partials/navigation.jade
			block topmatter
				h2= title
			
		div#content
			block content
				!= contents
				
		block footer
			hr
			p: small: a(href='acknowledgments.html') Credits, acknowledgments, and disclaimers.
