extends basic.jade

block topmatter
	h2 Characters
	- var tagl = Object.keys(tags).sort()
	- var chars = []
	- each tag in tagl
		if (tag.indexOf('c:') === 0)
			- chars.push(tag)
	p There are #{chars.length} character tags.
				
block content
	#fivecolumn.tags
		- each tag in chars
			- full = tags[tag]
			a(href='tags/#{full.urlSafe}.html')= tag.substring(2).replace(/\-/g, ' ')
			if full.length === 1
				|  1 story
			else
				|  #{full.length} stories
			br
			
