extends basic.jade

block topmatter
	.wrapper: .masthead(style="background-image: url('img/twelve_clara_header.jpg')")
		.container: .row: .col-md-4.offset-md-1(style="margin-top: 4em;")
			h2 Characters
			- var tagl = Object.keys(tags).sort()
			- var chars = []
			- each tag in tagl
				if (tag.indexOf('c:') === 0)
					- chars.push(tag)
			p There are #{chars.length} character tags.
				
block content
	.wrapper: .container
		.row: .col-lg-8 &nbsp;
		.row
			- each tag in chars
				- full = tags[tag]
				.col-md-2
					a(href='tags/#{full.urlSafe}.html')= tag.substring(2).replace(/\-/g, ' ')
					| &nbsp;
					span.badge= full.length
