extends basic.jade
include partials/capsule.jade

block title
	if basepath
		- rootPath = basepath
	if !banner
		- banner = rootPath + 'img/twelve.jpg'
	title= pageTitle

block topmatter
	.wrapper: .topmast(style="background-image: url('#{banner}')")
		.container: .row.row-bottom
			.col-md-12.cell-bottom
				h1= title

block content
	- var list = collections[pullfrom]
	.wrapper: .container
		.row: .col-lg-8 &nbsp;
		.row
			- each story in list
				if story.title
					.col-md-6
						+capsule(story)
