extends basic.jade
include partials/capsule.jade

block title
	if basepath
		- rootPath = basepath
	if !banner
		- banner = rootPath + 'img/twelve_clara_header.jpg'
	title= pageTitle

block topmatter
	.wrapper: .masthead(style="background-image: url('#{banner}')")
		.container: .row: .col-md-4.offset-md-1(style="margin-top: 4em;")
			h1= title

block content
	- var list = collections[pullfrom]
	.wrapper: .container
		.row: .col-lg-8 &nbsp;
		.row
			- each story in list
				if story.title
					.col-md-6
						+capsule(story)
