extends basic.jade
include partials/capsule.jade

block title
	title= title

block topmatter
	h1= title

block content
	- var list = collections[pullfrom]
	#threecolumn
		- each story in list
			if story.title
				+capsule(story)
				br
