extends basic.jade
include partials/capsule.jade

block title
	title= pageTitle

block topmatter
	h1= title

block content
	- var list = collections[pullfrom]
	#threecolumn
		- each story in list
			if story.title
				.box_33
					+capsule(story)
					br
