extends basic.jade

block topmatter
	.wrapper: .masthead(style="background-image: url('img/twelve_clara.jpg')")
		.container: .row: .col-md-4.offset-md-1
			h2 All pairings
			- var tagl = Object.keys(tags).sort()
			- var pairings = []
			- each tag in tagl
				if (tag.indexOf('p:') === 0)
					- pairings.push(tag)
			p There are #{pairings.length} pairings.

block content
	.wrapper: .container
		.row: .col-lg-8 &nbsp;
		.row
			- each tag in pairings
				- full = tags[tag]
				.col-md-2
					a(href='tags/#{full.urlSafe}.html')= tag.substring(2)
					| &nbsp;
					span.badge= full.length
