extends basic.jade

block topmatter
	h2 All tags
	- var tagl = Object.keys(tags).sort()
	p There are #{tagl.length} tags.
				
block content
	#fivecolumn.tags
		- each tag in tagl
			if (tag.indexOf('p:') !== 0) && (tag.indexOf('c:') !== 0)
				- full = tags[tag]
				a(href='tags/#{full.urlSafe}.html')= tag
				if full.length === 1
					|  1 story
				else
					|  #{full.length} stories
				br
			
