extends basic.jade

block topmatter
	.wrapper: .masthead.masthead(style="background-image: url('img/twelve_clara_header.jpg')")
		.container: .row: .col-md-4.offset-md-1(style="margin-top: 4em;")
			h2 All tags
			- var all = Object.keys(tags).sort()
			- var tagl = []
			- each tag in all
				if (tag.indexOf('p:') !== 0) && (tag.indexOf('c:') !== 0)
					- tagl.push(tag)
			p There are #{tagl.length} tags.
				
block content
	.wrapper: .container
		.row: .col-lg-8 &nbsp;
		.row
			- each tag in tagl
				- full = tags[tag]
				.col-md-2
					a(href='tags/#{full.urlSafe}.html')= tag
					| &nbsp;
					span.badge= full.length
