extends basic.jade

block topmatter
	.wrapper: .topmast(style="background-image: url('img/twelve_clara.jpg');")
		.container: .row.row-bottom
			.col-md-8.cell-bottom
				h2 All tags
				- var all = Object.keys(tags).sort()
				- var tagl = []
				- each tag in all
					if (tag.indexOf('p:') !== 0) && (tag.indexOf('c:') !== 0)
						- tagl.push(tag)
				p There are #{tagl.length} tags.
			.col-md-4.cell-bottom &nbsp;
				
block content
	.wrapper: .container
		.row: .col-lg-8 &nbsp;
		.row
			- each tag in tagl
				- full = tags[tag]
				.col-md-2
					a(href='tags/#{full.urlSafe}.html')= tag
					| &nbsp;
					span.badge= full.length
