.masthead
	background-size: cover
	background-color: black
	background-position: center
	margin-top: -100px
	min-height: 500px
	color: white
	background-image: url(img/twelve.jpg)

.topmast
	background-size: cover
	background-color: black
	background-position: top
	margin-top: -100px
	min-height: 650px
	color: white
	background-image: url(img/twelve.jpg)

body
	padding-bottom: 70px

.row-bottom
	display: table-cell
.cell-bottom
	display: table-cell
	vertical-align: bottom
	height: 600px
	float: none
