@import url(https://fonts.googleapis.com/css?family=Oswald:700,300|Merriweather)

$backgroundcolor: white
$foregroundcolor: black
$darkestcolor: #080f2b
$darkercolor: #37435d
$contrastcolor: #f68240
$mediumcolor: #325686
$lightestcolor: #f0ebe7
$faintcolor: #f0ebe7

html
	height: 100%

body
	font-family: Merriweather, serif
	font-size: 10pt
	margin-left: 2em
	margin-right: 2em
	height: 100%
	background-color: $backgroundcolor
	color: $foregroundcolor

#content

#nav
	font-family: Oswald, sans-serif
	font-weight: 300
	background-image: url(twelve_clara_header.jpg)
	background-size: auto 224px
	background-repeat: no-repeat
	background-position: 10px 10px
	background-color: $foregroundcolor
	color: $backgroundcolor
	padding-left: 394px
	padding-right: 5px
	padding-top: 10px
	min-height: 234px
	position: relative

	a
		text-decoration: none
		color: $contrastcolor
		font-weight: 400

		&:active
			color: $contrastcolor

		&:visited
			color: $contrastcolor

		&:hover, &:visited:hover
			text-decoration: underline

		&.series
			font-weight: 400
			font-style: italic

	h1
		margin-bottom: 0px

	h2
		font-size: 2em
		margin-top: .5em
		margin-bottom: 0

	.info
		line-height: 125%

	p
		font-size: 1.1em

a
	text-decoration: none
	color: $mediumcolor

	&:visited
		color: $mediumcolor

	&:hover, &:visited:hover
		text-decoration: underline
		color: $contrastcolor


h1, h2, h3, h4
	font-family: 'Oswald', sans-serif
	font-weight: 700

h3
	margin-bottom: 0px

.story_box
	position: relative
	padding: 0

.story_box:before
	font-size: 5em
	font-weight: 700
	top: -15px
	left: -40px
	position: absolute
	color: $mediumcolor
	content: "\201C"
	height: 60%

#twocolumn
	display: flex
	flex-flow: row wrap
	.box_50
		flex: 0 2 48%
		margin: .25em

#threecolumn
	display: flex
	flex-flow: row wrap
	.box_33
		-webkit-border-radius: 10px
		-moz-border-radius: 10px
		border-radius: 10px
		padding: 1em .5em .5em 2.75em
		background-color: $faintcolor
		flex: 0 2 27%
		margin: .25em

#fivecolumn
	-webkit-columns: 5
	-webkit-column-rule: none
	-webkit-column-gap: .25em
	columns: 5
	column-rule: none
	column-gap: .25em

#story_box
	display: flex
	flex-flow: row

.tags
	a
		font-family: Oswald, sans-serif
		font-weight: 700
	line-height: 125%

.nobreak
	-webkit-column-break-inside: avoid
	page-break-inside: avoid
	break-inside: avoid

#banner
	margin-top: 10px

#toc
	margin-top: 10px
	flex: 2
	font-family: Oswald, sans-serif
	font-size: 125%
	font-weight: 300
	ol
		font-weight: 300
		list-style-type: decimal

#storybody
	flex: 10
	font-size: 1.1em


.ctary
	font-style: italic
	padding: 5px
	background-color: $foregroundcolor
	border: 1px solid $contrastcolor

.ctary_inline
	font-style: italic
	background-color: $foregroundcolor

img
	border-style: none

hr
	border: none
	color: $mediumcolor
	background-color: $mediumcolor
	height: 1px

	&.faint
		color: $foregroundcolor
		background-color: $foregroundcolor
		border: 1px dotted $lightestcolor
		border-style: none none dotted

blockquote
	font-style: italic
	color: $darkestcolor

.storytitle
	font-weight: 400
